body {
    background: #f8f8f8;
    margin: 20px;
}

nav
{
    float: left;
    width: 93%;
    margin: 5px 20px 20px 20px;
    border-radius: 15px 15px 15px 15px;
    background: #3B3C3C;

    ul
    {
        li
        {
            list-style-type: none;
            display: inline;
            margin-right: 10px;
    
            a
            {
                color: white;
                text-decoration: none;

                &:hover
                {
                    text-decoration: underline;
                }
            }

        }
    }
}


#main
{
    float: left;
    width: 90%;
    margin: 5px 20px 20px 20px;
    border-radius: 15px;
    background: #e1e1e1;
    padding: 20px;
}

th
{
    text-align: left;
}

h1
{
    font-size: 1.4em;
}

h2
{
    font-size: 1.2em;
}

h3
{
    font-size: 1em;
}

table
{
    width: 100%;
    border: 1px solid #999;
    margin-bottom: 20px;
    background: #e6e6e6;

    thead 
    {
        tr th
        {
            background: #b9b9b9;
        }
    }

    tbody tr:nth-child(odd)
    {
        background: #e1e1e1;
    }

    tbody tr:nth-child(even)
    {
        background: #e9e9e9;
    }

    th, td
    {
        padding: 5px;
    }
}


table.overview th
{
    width: 25%;
}

iframe
{
    border: solid 1px #b9b9b9
}

.date-controller
{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#in-out
{
    width: 58%;
    border: solid #E1E1E1 1px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: #B9B9B9;

    float: left;

    .balance
    {
        @color: #3b3c3c;
        color: white;
        border: solid @color 1px;
        background: @color;
        display: inline-block;
        border-radius: 15px;
        padding: 10px;
        width: 25%;
        text-align: center;
        margin: 10px;
    }

    .in
    {
        @color: #3b3c3c;

        border: solid @color 1px;
        background: @color;
        margin-right: 10px;
    }

 
    .positive
    {
        @color: #41ba63;
        border: solid @color 1px;
        background: @color;
    }

    .negative
    {
        @color: #b53827;
        border: solid @color 1px;
        background: @color;
    }

}

#tabs
{
    table
    {
        width: 100%;
    }

    width: 100%;

    .ui-widget-header
    {
        @color: #B9B9B9;
        border: solid @color 1px;
        background: @color;

    }
    .ui-state-default a
    {
        color: #B9B9B9;
    }

    .ui-state-default
    {
        background: #E1E1E1;
    }

    .ui-tabs-selected 
    {
        @color: #575858;
        background: @color;
        border: solid @color 1px;

        a
        {
            color: #1C94C4;
        }
    }
}

.monthpicker
{
    width: 50px;
    margin-left: 20px;
    margin-right: 5px;
}


#mtz-monthpicker > div
{
    @color: #B9B9B9;
    border: solid @color 1px;
    background: @color;
}