body {
    background: #f8f8f8;
    margin: 20px;
}

th
{
    text-align: left;
}

h1
{
    font-size: 1.4em;
}

h2
{
    font-size: 1.2em;
}

h3
{
    font-size: 1em;
}

table
{
    width: 60%;
    border: 1px solid #999;
    margin-bottom: 20px;

    thead 
    {
        tr th
        {
            background: #b9b9b9;
        }
    }

    tbody tr:nth-child(odd)
    {
        background: #e1e1e1;
    }

    tbody tr:nth-child(even)
    {
        background: #e9e9e9;
    }

    
}

iframe
{
    border: solid 1px #b9b9b9
}

.date-controller
{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#in-out
{
    width: 58%;
    border: solid #E1E1E1 1px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: #E1E1E1;
    float: left;

    .balance
    {
        border-radius: 15px;
        padding: 10px;
        width: 46%;
        float: left;
        text-align: center;
    }

    .in
    {
        @color: #41ba63;

        border: solid @color 1px;
        background: @color;
        margin-right: 10px;
    }

    .out
    {
        @color: red;
        border: solid @color 1px;
        background: @color;

    }

}

#tabs
{
    width: 60%;
}