/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor
/app/config/parameters.ini
app/config/parameters.yml
/nbproject
node_modules
.idea
/web/css/*
/web/css/!jquery-ui
/web/js/*
/data
.DS_Store
composer.phar