<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        {% stylesheets filter="less" output="/css/stats.css" "@StatsBankBundle/resources/less/stats.less" %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" href="/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    </head>
    <body>
        {% block container %}{% endblock %}

        <script src="/js/jquery/jquery-1.6.2.min.js"></script>
        <script src="/js/jquery/jquery-ui-1.8.16.min.js"></script>

        {% javascripts output="/js/main.js" filter="coffee,?yui_js"
            '@StatsBankBundle/Resources/coffee/stats.coffee'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
