{% extends 'StatsBankBundle::layout.html.twig' %}


<h1>The server returned a "{{exception->statusCode}} {{exception->statusText}}" error.</h1>

<div>
   Ouch, something broke. Please send us an email and let us know
    what you were doing when this error occurred. We will fix it as soon
    as possible. Sorry for any inconvenience caused.
</div>